{% extends 'store/main.html' %}
{% load static %}

{% block content %}

   <main class="main">
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Request Refund</li>
               </ol>
            </div><!-- End .container -->
      </nav>

      <div class="col-md-3"></div>

      <div class="container">
         <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-9 dashboard-content">
               <h2>Request Refund</h2>
               <form action="" method="POST">
                  {% csrf_token %}

                  <div class="row">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-md-8">
                              <div class="form-group required-field">
                                 <label for="address">Reference Code</label>
                                 {{form.ref_code}}
                              </div><!-- End .form-group -->

                              <div class="form-group required-field">
                                 <label for="address">Email</label>
                                 {{form.email}}
                              </div><!-- End .form-group -->

                              <div class="form-group">
                                 <label for="address">Message</label>
                                 {{form.message}}
                              </div><!-- End .form-group -->
                           </div><!-- End .col-md-4 -->

                           <div class="col-md-4">
                           </div><!-- End .col-md-4 -->
                        </div><!-- End .row -->
                     </div><!-- End .col-sm-11 -->
                  </div><!-- End .row -->
                  <div class="form-footer">
                     <button type="submit" class="btn btn-primary">Request Refund</button>
                  </div>
               </form>
            </div><!-- End .col-lg-9 -->

            <div class="col-md-2"></div>


            
         </div><!-- End .row -->
      </div><!-- End .container -->

      <div class="mb-3"></div><!-- margin -->
   </main><!-- End .main -->

{% endblock %}