{% extends 'store/main.html' %}

{% block content %}

   <main class="main">
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
         <div class="container">
            <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
         </div><!-- End .container -->
      </nav>

      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="heading">
                  <h2 class="title">Login</h2>
                  <p>If you have an account with us, please log in with your details  so that 
                     you can access  functionalities like adding items to cart, easy checkout among others.</p>
               </div>

               <form action="" method="POST">
                  {% csrf_token %}
                  <input type="text" class="form-control" placeholder="Username" name="username" required>
                  <input type="password" class="form-control" placeholder="Password" name="password" required>

                  <div class="form-footer">
                     <button type="submit" class="btn btn-primary">LOGIN</button>
                     <a href="" class="forget-pass"> Forgot your password?</a>
                  </div>
               </form>
            </div> 

            <div class="col-md-6">
               <div class="heading">
                  <h2 class="title">Create An Account</h2>
                  <p>
                     By creating an account with our Us, you will be able to add items to your cart,
                     move through the checkout process faster, view and track your orders in your account and more.
                  </p>
               </div><!-- End .heading -->

               <div class="form-footer">
                  <a href="{% url 'register-page' %}"><button type="submit" class="btn btn-primary">Create Account</button></a>
               </div><!-- End .form-footer -->
            
            </div><!-- End .col-md-6 -->
         </div><!-- End .row -->
      </div><!-- End .container -->

      <div class="mb-5"></div><!-- margin -->
   </main><!-- End .main -->

{% endblock %}