{% extends 'store/main.html' %}


{% block content %}

   <main class="main">
      <nav aria-label="breadcrumb" class="breadcrumb-nav">
         <div class="container">
            <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
         </div><!-- End .container -->
      </nav>
      {{messages.error}}

      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="heading">
                  <h2 class="title">Create An Account</h2>
                  <p>
                     By creating an account with our Us, you will be able to add items to your cart,
                     move through the checkout process faster, view and track your orders in your account and more.
                  </p>
               </div><!-- End .heading -->

               <form action="" method="POST">
                  {% csrf_token %}
                  
                  {{form.first_name}}
                  {{form.last_name}}

                  <h2 class="title mb-2">Login information</h2>
                  {{form.username}}
                  {{form.email}}
                  {{form.password1}}
                  {{form.password2}}

                  <div class="form-footer">
                     <button type="submit" class="btn btn-primary">Create Account</button>
                  </div><!-- End .form-footer -->
               </form>
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
               <div class="heading">
                  <h2 class="title">Login</h2>
                  <p>If you already have an account with us, please log in to acces your account by clicking the login button
                     and fill out your details or Create a new account with ease.</p>
               </div>

               <div class="form-footer">
                  <a href="{% url 'login-page' %}"><button type="submit" class="btn btn-primary">LOGIN</button></a>
                  <a href="#" class="forget-pass"> Forgot your password?</a>
               </div>
            </div> <!-- End .col-md-6 -->
         </div><!-- End .row -->
      </div><!-- End .container -->

      <div class="mb-3"></div><!-- margin -->
   </main><!-- End .main -->

{% endblock %}